body { background: #c6db70; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 14px; display: flex; }
.block-uploader-0 { color: #d9ec95; font-size: 17px; margin-bottom: 5px; }
.block-shipping-1 { color: #995b22; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #38b7d0; font-size: 19px; margin-bottom: 5px; }
.block-router-3 { color: #18ae0c; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #fed1d2; font-size: 12px; margin-bottom: 5px; }
.block-filter-5 { color: #9ef2d4; font-size: 12px; margin-bottom: 5px; }
.block-helper-6 { color: #63af59; font-size: 18px; margin-bottom: 5px; }